DATABASE_URL=mysql+pymysql://user:password@db:3306/recetas_db
SECRET_KEY=cambia_esta_clave_secreta_por_una_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
OPENROUTER_API_KEY=tu_api_key_de_openrouter
OPENROUTER_MODEL=mistralai/mistral-7b-instruct
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=recetas_db
MYSQL_USER=user
MYSQL_PASSWORD=password
